@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
.section-title {
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
:root {
    --font-family: 'Redressed', cursive;
    --head-family: 'Akaya Telivigala', cursive;
}

.page-title {
    font-family: var(--head-family);
    font-weight: bolder;
}

.title-extension {
    font-family: var(--font-family);
}

.input {
    margin: 5px 20px;
}

.button {
    width: 8em;
    height: 2em;
    color: white;
    background-color: rgb(37, 149, 194);
    border: 0;
    border-radius: 20px;
    margin: 5px;
}

.funtional-query {
    font-size: large;
    font-weight: bold;
}